:root {
  max-width: 100vw;
  max-height: 100vh;
  background-color: black;
  color: white;
}

/* CSS Reset */
*, *::before, *::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
* {
  line-height: calc(1em + 0.5rem);
}
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}
input, button, textarea, select {
  font: inherit;
}
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}
#root, #__next {
  isolation: isolate;
}
/* End of CSS Reset */

.App-header {
  display: flex;
  font-size: calc(10px + 2vmin);
  padding-top: 5vh;
}

.App-header ul {
  min-width: 100vw;
  display: flex;
  justify-content: space-evenly;
}

.App-header ul li {
  display: inline;
}

ul li:first-child {
  padding-right: 200px;
}

